body{
    margin:0px;
    font-family: Inria Sans;

}
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
table{
    border-spacing: 30px 15px;
}

.user-container{
    margin-left: auto;
    background-color: #66D2FA;
    color: #FFF;
    text-align: center;
    font-family: Inria Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 643px;
    height: 72px;
    flex-shrink: 0;
}
.embroidery-details{
    width: 744px;
    height: 40px;
    flex-shrink: 0;
    color: #000;
    font-family: Inria Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 62.5% */
    margin-left: 10px;
    
}
.student-shirt{
    margin-left: 10px;
    color: #000;
    font-family: Inria Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
    margin-top: 5px;
}
.instruction{
    margin-left: 10px;
    color: #797979;
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */

}
.flexbox{
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    margin-right: 300px;
    font-family: Inria Sans;
}
.box1{
    width: 585px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    border: none;
    font-family: Inria Sans;

}
.select1{
    width: 100px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    border: none;
    font-family: Inria Sans;

}
.tick{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.box2{
    width: 150px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    border: none;
    font-family: Inria Sans;
}
.bottom_line{
    display: flex;
    flex-direction: row;
}
.button1{
    margin-top: 80px;
    display: flex;
    width: 220px;
    height: 50px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: #66D2FA;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inria Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    flex-direction: row;
    margin-left: 36px;
    cursor: pointer;
}

.button2{
    margin-top: 80px;
    display: flex;
    width: 220px;
    height: 50px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: #66D2FA;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inria Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    flex-direction: row;
    margin-left: 925px;
    cursor: pointer;
}

.button3{
    margin-top: 80px;
    display: flex;
    width: 220px;
    height: 50px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: #66D2FA;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inria Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    flex-direction: row;
    margin-left: 444.5px;
    cursor: pointer;
}
